@model IEnumerable<App.Models.Blog.Post>

@{
    ViewData["Title"] = "Blog List";
}

<h1>@ViewData["Title"]</h1>

<partial name="_AlertMessage" />

<p>
    <a class="btn btn-secondary btn-sm" asp-action="Create">Create New Post</a>
</p>
<p>Total Posts: @ViewBag.totalPosts</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(++ViewBag.postIndex)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">
                    @Html.DisplayFor(modelItem => item.Title)
                </a> 
                <br>
                <small>
                    @string.Join(", ", item.PostCategories.Select(pc => pc.Category.Title))
                </small>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.PostId">Details</a> 
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PagingLayout" model="@ViewBag.pagingModel" />